@{
	Layout = "LayoutOrder";
}
<div class="text-center text-lg-center">
	<h2>Cпасибо за покупку!</h2>
	<p>Благодарим вас за заказ</p>
	<p>Наша служба доставки привезет ваш заказ в кратчайший срок!</p>
	<a class="btn badge-success" href="/">На главную</a>
</div>
